<!DOCTYPE html>
<html>
  <head>
    <title>Blocipedia</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <%= link_to 'Blocipedia', root_path, id: 'logo', class: 'navbar-brand navbar-text'%>
          <div id="searchbar" class="navbar-text">
            <!-- navbar-left -->
            <form class="navbar-form">
              <div class="form-group input-group">
                <input type="Search" placeholder="Search for wiki..." class="form-control">
                <div class="input-group-btn">
                  <button type="submit" class="btn">
                    <span class="glyphicon glyphicon-search"></span>
                  </button>
                </div>
              </div>
            </form>
          </div>

    <% if user_signed_in? %>
          <div class="login-status">
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, :class => 'login btn btn-primary'%>
          </div>
          <div class="navbar-text" id="toggle-div">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#my-navbar" aria-expanded="false" aria-controls="my-navbar" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

              <div class="navbar-toggle collapse" id="my-navbar">
                <ul class="navbar-collapse list-unstyled list-inline" id="">
                  <li class="nav-item"><%= link_to "Home", root_path, class:"nav-link active" %></li>
                  <li class="nav-item"><%= link_to "About", about_path, class:"nav-link"%></li>
                  <li class="nav-item"><%= link_to 'Edit profile', edit_user_registration_path, :class => 'nav-link' %></li>
                  <li class="nav-item">wikis</li>
                </ul>
              </div>
          </div>
    <%else%>
        <div class="login-status">
          <%= link_to 'sign up', new_user_registration_path, :class => 'login btn btn-success'%>
          <%= link_to 'sign in', new_user_session_path, :class => 'login btn btn-primary'%>
        </div>
    <%end%>
      </div> <!-- container -->
    </nav>

    <div class="container">
    <%= yield %>
    </div>


    <!-- Site footer -->
      <footer class="footer">
        <p>&copy; 2017 | Jessica Schultz</p>
      </footer>

  </body>
</html>
