<div id="content">
  <section class="edit-profile">
    <div class="container">
      <div class="heading">
        <div class="flash-container">
          <% if flash[:notice] %>
          <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:notice] %>
          </div>
          <% elsif flash[:alert] %>
          <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:alert] %>
          </div>
          <% end %>
        </div>
        <h2 class="pg-title">Edit Profile</h2>
        <p class="lead edit-profile-p"><strong>Subscription:</strong>
          <%= current_user.role %>
          <% if current_user.standard? %>
            <p>Want more features?</p>
            <%= link_to "Upgrade My Account", new_charge_path, class: 'btn-xs-blue' %>
          <% else %>
            <p>Want to downgrade?</p>
            <%= link_to "downgrade", downgrade_plan_path, class: 'btn-xs-blue' %>
          <% end %>
        </p>
      </div>

      <hr class="featurette-divider">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true %>
      </div>
      <br />

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>
      <br />
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "off" %>
        <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>
      <br />

      <div class="field">
        <%= f.label :password_confirmation %>
        <br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
      <br />

      <div class="field">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>

      <div class="actions margin-top-30">
        <%= f.submit "Update", class: 'btn-sm'%>
      </div>
      <% end %>
      <br>

      <hr class="featurette-divider">

      <div class="cancel-div col-sm-12">
        <h5 class="cancel-title">Not Happy With Blocipedia?</h5>
        <p class="cancel-p">
          <%= button_to "Cancel", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn-xs-blue col-sm-1 cancel-btn' %>
          <%= link_to "Back", :back, class: 'btn-xs col-sm-1 cancel-btn'%>
        </p>
      </div>
    </div>
  </section>
</div>
